# 基本配置
NODE_ENV=development

# Vue 配置
ENABLE_VUE=true
VITE_APP_TITLE=FastVue
VUE_BIND_HOST=::
VUE_BIND_PORT=5173

# API 配置
API_BIND_HOST=localhost
API_BIND_PORT=3000

# 客戶端靜態檔案路徑（生產環境）
CLIENT_DIST_PATH=./dist/client